@use '@common/mixin' as *;

.SearchBar {
  align-items: center;
  border: solid 1px var(--component-secondary-border-color);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  width: 250px;
  height: 32px;

  .inputForm {
    border: 0;
    background: transparent;
    color: var(--text-primary-color);
    flex-grow: 1;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    padding: 0px 4px 0px 12px;
    vertical-align: middle;
    width: 84px;

    &::placeholder {
      color: var(--text-secondary-color);
      font-size: 12px;
      font-weight: 500;
      transition: color ease 0.3s;
    }

    &:focus {
      outline: none;

      &::placeholder {
        color: transparent;
        transition: color ease 0.1s;
      }
    }
  }

  .Dropdown {
    .dispArea {
      .currName {
        color: var(--primary-color);
        display: block;
        min-width: fit-content;
        width: fit-content;
      }
      svg {
        fill: var(--primary-color);
      }
    }
  }

  .btnSearch {
    align-items: center;
    background: var(--primary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 52px;
    transition: background-color ease 0.3s;

    &:hover {
      background: var(--primary-light-color);

      svg {
        width: 20px;
        height: 20px;
      }
    }
    &:active {
      background: var(--primary-dark-color);
    }

    svg {
      width: 18px;
      height: 18px;
      transition: width ease 0.3s, height ease 0.3s;
    }
  }
}
