.SubscriberBadge {
  background-color: var(--color-primary);
  color: var(--color-gray-200);
  font-size: 10px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 2px;
}
