@import '../../common/common.scss';

.ContentSubPanel {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 8px;

  & > .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
}