@import '../../common/common.scss';

.FrontPanelList{
  margin: 0 auto;
  padding-bottom: 31px;

  .FrontPanel {

    &:nth-child(3),
    &:nth-child(4) {
      width: 100%;
      
      @include tablet {
        max-width: 447px;
      }
      margin-left: auto;
      margin-right: auto;

      .panelHeader {
        padding: 0 8px;
      }
    }
    &:nth-child(3) {
      grid-area: apps;
    }
    &:nth-child(4) {
      grid-area: etcs;
    }

    .panelHeader {
      @include tablet {
        margin: 0 calc((100% - 431px) / 2);
      }
    }
  }

  @include desktop {
    display: grid;
    grid-template-columns: calc(100% - 360px - 16px) 360px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
		"live bestwakki"
		"apps apps"
		"etcs etcs";
    column-gap: 16px;
    box-sizing: border-box;
    max-width: 1300px;
    padding: 0 32px 31px;

    .FrontPanel:nth-child(3),
    .FrontPanel:nth-child(4) {
      max-width: 1096px;
    }
  }
  @include mobile {
    
    .FrontPanel:nth-child(3),
    .FrontPanel:nth-child(4) {
      .panelHeader {
        padding: 0;
      }
      .compContainer {
        padding: 0 8px;
      }
    }
  }
}