@use '@common/mixin' as *;

header.SectionSubHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px;

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
  }
}
