@use '@common/mixin' as *;

.container {
  background: transparent;
  border: none;
  gap: 16px;
  padding: 0 16px;

  .option {
    border-bottom: transparent solid 2px;
    border-radius: 0px;
    color: var(--text-secondary-color);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    transition: color ease 0.15s, border ease 0.15s;

    &:hover {
      color: var(--text-primary-color);
    }
    &:after {
      display: none;
    }

    &.selected {
      background: transparent;
      border-bottom: var(--primary-color) solid 2px;
      color: var(--text-primary-color);
    }
  }
}