@use '@common/mixin' as *;

.container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 0.5rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 1rem;
  }
}
