@mixin ArticleListMobile {
  .Article {
    box-sizing: border-box;
    min-height: 97px;
    border: solid 1px var(--color-border);
    border-top: none;
    border-radius: 0;
    padding: 14px 15px 14px;

    &.listHeader {
      display: none;
    }

    .txt_area {
      flex-direction: column;
      padding: 0;

      .board_txt {
        padding-bottom: 2px;
      }
      strong.tit {
        line-height: 18px;
        margin: 1px 6px 8px 0;
      }
      .user_area {
        display: flex;
        flex-direction: row;
        line-height: 12px;
        margin-top: 4px;

        .nickname {
          margin: 0;
          width: auto;
        }

        span {
          margin-left: 0.5em;
          width: auto;
        }

        .view,
        .like,
        .comment {
          display: inline-flex;
          .icon {
            display: inline-block;
            padding-top: 1px;
            margin-right: 2px;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .thumb_area {
      display: block;
      margin: 2px 0 0;
      height: 64px;
      order: 2;

      img {
        width: 64px;
        height: 64px;
      }
    }
  }
  .Article:nth-child(2) {
    border-top: solid 1px var(--color-border);
  }
}

@mixin ArticleListDesktop {
  margin: 16px 0;
  .Article {
    border-bottom: solid 1px var(--color-border);
    border-radius: 0;
    min-height: 16px;
    opacity: 0;
    position: relative;
    transition: background-color ease 0.15s, border-radius ease 0.15s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 10;
    }

    &.listHeader {
      cursor: auto;
      display: flex;
      border-radius: 0;
      border-top: solid 1px var(--color-border);
      text-align: center;
      pointer-events: none;

      &:hover {
        background-color: transparent;
      }
    }

    .txt_area {
      flex-direction: row;
      padding: 10px 6px 10px 16px;

      .board_txt {
        box-sizing: border-box;
        line-height: 15px;
        min-width: 140px;
        width: 140px;
      }
      strong.tit {
        flex: 1;
      }
      .user_area {
        width: 245px;

        & > span {
          box-sizing: border-box;
          display: block;
          float: left;
        }
        .datetime,
        .view,
        .like {
          text-align: center;
        }
        .nickname {
          width: 110px;
        }
        .datetime {
          width: 55px;
        }
        .view,
        .like {
          width: 40px;
        }

        .comment {
          display: none;
        }
        .view,
        .like,
        .comment {
          .icon {
            display: none;
          }
        }
      }

      &:hover + .thumb_area {
        background-color: var(--color-component-white);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: block;
        position: absolute;
        left: 108px;
        top: 48px;
        padding: 8px;

        img {
          display: block;
          margin: 0;
          padding: 0;
          width: 100px;
          height: 100px;
        }
      }
    }
    &.listHeader .txt_area:hover + .thumb_area,
    .thumb_area {
      display: none;
    }
  }
}
