@use '@common/mixin' as *;

.PrevWeatherList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;

  & > .date {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: calc((var(--responsiveScale) + 1px) / 2 * 20);
    line-height: 1em;

    &.dummy {
      color: transparent;
      pointer-events: none;
      user-select: none;
      @include mobile {
        display: none;
      }
    }
  }

  .SkeletonLoader {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .date:not(.dummy) {
      color: transparent;
    }
  }
}
