@import '../../common/common.scss';

.FrontWeatherList {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    .SkeletonLoader {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
    }

    .FrontWeatherItem {
      width: 50%;
    }
  }

  .present {
    color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
  }
}