@import '../../common/common.scss';

.FrontWeatherList {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul.itemList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;

    .SkeletonLoader {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
    }
    @include not-desktop {
      justify-content: center;
    }

    .FrontWeatherItem {
      width: 50%;
      @include not-desktop {
        display: none;
        width: 164px;
        &:nth-child(2),
        &:nth-child(3) {
          display: flex;
        }
      }
    }
    @include not-desktop {
      .arrowButton {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 12px;
        height: 24px;
        cursor: pointer;
    
        &.right {
          transform: rotate(180deg);
        }
    
        .line {
          background-color: #DDDDDD;
          width: 16px;
          height: 1px;
          transform: rotate(-45deg);
          position: relative;
          top: 6px;
          left: -1px;
        }
        .lineBottom {
          background-color: #DDDDDD;
          width: 16px;
          height: 1px;
          transform: rotate(45deg);
          position: relative;
          top: 16px;
          left: -1px;
        }
      }
    }
  }

  .present {
    color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    @include not-desktop {
      display: none;
    }
  }
}