@use '@common/mixin' as *;

.PrevWeatherSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  gap: 16px;
  @include mobile {
    gap: calc((var(--responsiveScale) + 1px) / 2 * 16);
  }

  .weatherBorder {
    background: var(--component-secondary-border-color);
    width: calc((var(--responsiveScale) - 0.1px) / 0.9 * 160 * 6);
    height: 1px;
    @include mobile {
      width: calc((var(--responsiveScale) - 0.1px) / 0.9 * 172 * 6);
      margin-left: calc((var(--responsiveScale) + 1px) / 2 * 20 * 4.2);
    }

    &:last-child {
      display: none;
    }
  }
}
