@import '../../common/common.scss';

.Weather {
  --responsiveScale: calc(min(100vw, 1200px) / 1200);
  background: linear-gradient(180deg, rgba(0, 136, 255, 0.1) 0%, rgba(255, 255, 255, 0) 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .contentWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 72px;
    @include mobile {
      padding: 0px 16px 72px;
    }
    gap: 24px;
    width: 100%;

    .headerWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 64px 0px 32px;
      gap: calc((var(--responsiveScale) + 1px) / 2 * 8);

      .back {
        color: $primary-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 1px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6em;
      }
      h1.title {
        color: $primary-text-color;
        font-weight: 500;
        font-size: calc((var(--responsiveScale) + 1px) / 2 * 40);
        line-height: 1em;
        margin: 0;
      }
    }

    .weatherSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      padding: 0px;
      gap: 32px;
    }
    .credit {
      max-width: 100%;
      width: 740px;
    }
  }
}