@import '../../../common/common.scss';

.WaktoonList.WaktoonEpisodeList {

  ul.itemList {
    padding-bottom: 8px;
    padding-top: 0;
    gap: 8px 5.1px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.list {
    
    ul.itemList {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}