@import '../../../common/common.scss';

.WaktoonChart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 64px;
  margin: 0;
  gap: 32px;

  section.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    gap: 24px;
    width: 1200px;

    & > header {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 48px 0px 32px;
      gap: 8px;
      align-self: stretch;

      .btnBack {
        align-items: center;
        color: $primary-color;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: 500;
        line-height: 1em;
  
        svg {
          display: inline-block;
          margin: 1px;
        }
      }
      .title {
        color: $primary-text-color;
        font-weight: 500;
        font-size: 36px;
        line-height: 1em;
        margin: 0;
      }
      .desc {
        color: $secondary-text-color;
        font-weight: 500;
        font-size: 20px;
        line-height: 1em;
      }
    }

    .listHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      align-self: stretch;

      .filterWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 8px;
        gap: 16px;

        .sortItemWrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 8px;
        }
      }
      .BasicSearchBar {
        width: 320px;
      }
    }
    
    .waktoonCharListWrapper {
      align-self: stretch;
    }
    .footer {
      color: $secondary-text-color;
      font-size: 14px;
      text-align: right;
    }
  }
}

@include desktop {
}
@include not-desktop {
  .WaktoonChart {
  
    section.content {
      width: 100%;
  
      & > header {
        padding: 24px 16px 16px;
        gap: 4px;
  
        .btnBack {
          font-size: 14px;
    
          /* svg { } */
        }
        .title {
          font-size: 24px;
        }
        .desc {
          font-size: 16px;
        }
      }
  
      .listHeader {
        display: none;
      }
      
      .waktoonChartListWrapper {
        align-self: stretch;
        
        .WaktoonChartLargeItem {
          padding: 0;

          & > a {
            padding: 8px 12px;
            gap: 12px;

            .rankArea {
              margin-right: 0;

              .rank {
                font-size: 14px;
              }
            }
            .previewWrapper {
              --width: 64px;
              --height: 84px;
            }
            .infoArea {
              width: 0;
              flex-grow: 1;

              .descArea {
                flex-direction: row-reverse;

                .rankAmount {
                  width: 48px;
                }
                .titleWrapper {
                  flex-direction: column;
                  flex-grow: 1;
                  justify-content: space-between;
                  width: 0;

                  .title, .author {
                    font-size: 14px;
                  }
                  .changedAmountArea {
                    gap: 0px;

                    .changedAmount {
                      font-size: 12px;
                      width: 64px;
                    }
                  }
                }
              }
              
            }
          }
        }
      }
      .footer {
        font-size: 12px;
        padding: 16px;
      }
    }
  }
}