@mixin ArticleListMobile {
  .ArticleList {
    .Article {
      box-sizing: border-box;
      min-height: 97px;
      border: solid 1px $component-primary-border-color;
      border-bottom: none;
      border-radius: 0;
      padding: 14px 15px 14px;

      &.listHeader {
        display: none;
      }

      .txt_area {
        flex-direction: column;
        padding: 0;

        .board_txt {
          padding-bottom: 2px;
        }
        strong.tit {
          line-height: 20px;
        }
        .user_area {
          line-height: 12px;
          margin-top: 4px;

          .nickname {
            margin: 0;
            width: auto;
          }

          span {
            margin-left: .5em;
            width: auto;
          }

          .view::before {
            content: '\e950';
            padding-right: 1px;
            color: $secondary-text-color;
            font-family: 'xeicon';
          }
          .like::before {
            content: '\ea11';
            padding-right: 1px;
            color: $secondary-text-color;
            font-family: 'xeicon';
          }
          .comment::before {
            content: '\e9d8';
            padding-right: 1px;
            color: $secondary-text-color;
            font-family: 'xeicon';
          }
        }
      }
      .thumb_area {
        display: block;
        margin: 2px 0 0;
        height: 64px;
        order: 2;

        img {
          width: 64px;
          height: 64px;
        }
      }
    }
    .Article:last-child {
      border-bottom: solid 1px $component-primary-border-color;
    }
  }
  &:not(.front) .moduleHeader {
    .controlWrapper {
      flex-direction: column-reverse;

      .SortList {
        flex-wrap: wrap;
        margin-left: 10px;

        .sortItem {
          position: relative;
  
          input[type=radio]:not(:checked) + label:active {
            background: rgba(0, 0, 0, .1);
          }
        }
      }

      .SearchBar {
        display: none;
      }
    }
  }
}

@mixin ArticleListDesktop {
  .ArticleList {
    margin: 16px 0;
    .Article {
      border-radius: 0;
      min-height: 16px;
      opacity: 0;
      position: relative;
      transition: background-color ease .15s, border-radius ease .15s;

  
      &:hover {
        background-color: rgba(0, 0, 0, .1);
        border-radius: 8px;
        z-index: 10;
      }
  
      &.listHeader {
        cursor: auto;
        display: flex;
        border-radius: 0;
        border-top: solid 1px $component-primary-border-color;
  
        &:hover {
          background-color: transparent;
        }
      }
  
      .txt_area {
        flex-direction: row;
        padding: 10px 6px 10px 16px;
        
        .board_txt {
          box-sizing: border-box;
          width: 100px;
          min-width: 100px;
        }
        strong.tit {
          flex: 1; 
        }
        .user_area {
          width: 245px;
  
          span {
            box-sizing: border-box;
            display: block;
            float: left;
          }
          .nickname {
            width: 110px;
          }
          .datetime {
            width: 55px;
            text-align: center;
          }
          .view,
          .like {
            width: 40px;
            text-align: center;
          }
        }

        &:hover + .thumb_area {
          background-color: #fff;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
          border-radius: 8px;
          display: block;
          position: absolute;
          left: 108px;
          top: 48px;
          padding: 8px;

          img {
            display: block;
            margin: 0;
            padding: 0;
            width: 100px;
            height: 100px;
          }
        }
      }
      &.listHeader .txt_area:hover + .thumb_area,
      .thumb_area {
        display: none;
      }
    }
  }
  &:not(.front) .moduleHeader {

    .controlWrapper {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .SortList {
        margin-left: 8px;
      }

      .right {
        display: flex;
        align-items: center;
        flex-direction: row;

        .DateRange {
          user-select: none;

          &.all {
            
            .dateBtn {

              .dateWrapper {
                color: $secondary-text-color;
              }
            }
          }

          .dateBtn {
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 6px 8px;
            transition: color ease .15s, background-color ease .15s;

            .dateWrapper {
              color: $secondary-text-color;
              font-size: 12px;
              line-height: 12px;
              transition: inherit;
              text-align: right;
              white-space: nowrap;
            }
            svg {
              fill: $secondary-text-color;
              margin-left: 8px;
            }

            &.opened, &:hover {
              background-color: rgba(0, 0, 0, .1);

              .dateWrapper {
                color: $primary-color;
              }
              svg {
                fill: $primary-color;
              }
            }
          }
          .closeArea {
            opacity: 0;
            pointer-events: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color ease .3s;
            z-index: 99;
          }
          .opened + .closeArea {
            opacity: 1;
            pointer-events: auto;
          }
          .dateList {
            position: relative;
            .DatePicker {
              right: -100px;
            }
          }
        }
        
        .SearchBar {
          display: flex;
          margin-left: 4px;
        }
      }

    }
  }
}