@import '../../common/common.scss';
@import './ArticleList';

.Bestwakki {

  @include tablet {
    margin: 0 calc((100% - 431px) / 2);
  }

  .ArticleList {
  
    .Article {
      display: flex;
      width: 100%;
      .txt_area {
        display: flex;
        padding: 8px;
        padding-left: 0px;
        width: 100%;
        line-height: 120%;
        font-size: 14px;
        color: $primary-text-color;
        order: 1;
    
        &:link {
          color: $primary-text-color;
          
          .icon_new_txt{
            color: #a00;
            display: none;
          }
        }
        &:visited {
          color: $secondary-text-color;
    
          .icon_new_txt{
            color: #fff;
            display: none;
          }
        }
    
        .board_txt {
          color: $secondary-text-color;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
        }
        strong.tit {
          font-weight: 500;
          height: 100%;
        }
        .user_area {
          color: $secondary-text-color;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .thumb_area img {
          border-radius: 8px;
      }
    }
  
    @include desktop {
      @include ArticleListDesktop;
    }
    @include not-desktop {
      @include ArticleListMobile;
    }
  }

  & > .more {
    display: none;
  }
  &.front > .more {
    box-sizing: border-box;
    border: solid 1px $component-primary-border-color;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    min-height: 32px;

    svg {
      fill: $component-secondary-border-color;
    }
  }

  &.front .ArticleList {
    @include desktop {
      @include ArticleListMobile;
      width: 360px;
      .Article {
    
        &:nth-child(4) {
          display: flex;
          border-bottom: solid 1px $component-primary-border-color;
        }
      }
    }
  }
}