@import '../../common/common.scss';
@import './ArticleList';

.Bestwakki {

  @include tablet {
    margin: 0 calc((100% - 431px) / 2);
  }

  .ArticleList {
  
    .Article {
      animation-name: fadein;
      animation-duration: .3s;
      animation-fill-mode: forwards;
      display: flex;
      width: 100%;
      .txt_area {
        display: flex;
        padding: 8px;
        padding-left: 0px;
        width: 100%;
        line-height: 120%;
        font-size: 14px;
        color: $primary-text-color;
        order: 1;

        .icon_new_txt{
          color: #a00;
          display: none;
        }
    
        &:link {
          color: $primary-text-color;
          
          .icon_new_txt{
            color: #a00;
            display: none;
          }
        }
        &:visited {
          color: $secondary-text-color;
    
          .icon_new_txt{
            color: #fff;
            display: none;
          }
        }
    
        .board_txt {
          color: $secondary-text-color;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
        }
        strong.tit {
          font-weight: 500;
          height: 100%;
        }
        .user_area {
          color: $secondary-text-color;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .thumb_area img {
          border-radius: 8px;
      }
    }
  }
  &:not(.front) {
    @include desktop {
      @include ArticleListDesktop;
    }
  }
  @include not-desktop {
    @include ArticleListMobile;
  }

  & > .more {
    width: 100%;

    svg.frontOnly {
      display: none;
    }
    .moreLoad {
      border-radius: 8px;
      color: $primary-color;
      cursor: pointer;
      display: block;
      font-size: 14px;
      margin: 0 auto 16px;
      padding: 8px 0;
      text-align: center;
      width: 100%;
      transition: background-color ease .3s;

      &:hover {
        background: rgba(0, 0, 0, .05);
        @include not-desktop {
          background: transparent;
        }

        svg {
          top: 6px;
        }
      }

      &:active {
        background: rgba(0, 0, 0, .1);

        svg {
          top: 12px;
        }
      }

      svg {
        display: block;
        fill: $primary-color;
        margin: 0 auto;
        position: relative;
        top: 0px;
        left: 0px;
        transition: top .3s;
        transition-timing-function: cubic-bezier(0.3, 2, 0.635, 1.005);
      }
    }
  }
  &.front > .more {
    box-sizing: border-box;
    border: solid 1px $component-primary-border-color;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    min-height: 32px;

    svg.frontOnly {
      display: block;
      fill: $component-secondary-border-color;
    }
    .moreLoad {
      display: none;
    }
  }

  &.front {
    @include desktop {
      @include ArticleListMobile;
    }
    @include not-desktop {
      .ArticleList {
        .Article {

          &:nth-child(5) {
            display: none;
          }

          &:nth-child(4) {
            border-bottom: solid 1px $component-primary-border-color;
          }
        }
      }
    }

    .moduleHeader {
      display: none;
    }
  }
}

.Bestwakki:not(.front) {
  @include desktop {
    margin: 0 calc((100% - 870px) / 2);

    .ArticleList {
    
      .Article {
        border-bottom: solid 1px $component-primary-border-color;

        .txt_area {

          .board_txt {
            line-height: 15px;
          }

          .user_area .comment {
            display: none;
          }
        }
      }
    }
  }
  @include not-desktop {
  }
  .moduleHeader {

    h1 {
      color: $primary-text-color;
      margin: 31px 0 0;
      padding: 0 0 26px 16px;
      font-size: 28px;
      font-weight: 500;
      line-height: 28px;
    }
    .controlWrapper {
      display: flex;

      .SortList {
        display: flex;
        flex-direction: row;
        position: relative;
  
        .sortItem {
          position: relative;
  
          input[type=radio] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip:rect(0,0,0,0);
            border: 0;
  
            &:checked + label {
              color: $primary-color;
            }
            &:not(:checked) + label:hover {
              background: rgba(0, 0, 0, .1);
            }
          }
  
          label {
            border-radius: 8px;
            color: $secondary-text-color;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 26px;
            transition: color ease .15s, background-color ease .3s;
            padding: 3px 8px 5px;
          }
        }
  
        .hoverRect {
          height: 28px;
          background: #FFFFFF;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
          border-radius: 8px;
          position: absolute;
        }
      }

      .SearchBar {
        align-items: center;
        border: solid 1px $component-secondary-border-color;
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;
        width: 250px;
        height: 32px;

        .inputForm {
          border: 0;
          background: transparent;
          color: $primary-text-color;
          flex-grow: 1;
          font-family: inherit;
          font-size: 12px;
          font-weight: 500;
          line-height: 32px;
          padding: 0px 4px 0px 12px;
          vertical-align: middle;
          width: 84px;

          &::placeholder {
            color: $secondary-text-color;
            font-size: 12px;
            font-weight: 500;
            transition: color ease .3s;
          }

          &:focus {
            outline: none;

            &::placeholder {
              color: transparent;
              transition: color ease .1s;
            }
          }
        }

        .Dropdown {
          .dispArea {
            .currName {
              color: $primary-color;
              display: block;
              min-width: fit-content;
              width: fit-content;
            }
            svg {
              fill: $primary-color;
            }
          }
        }

        .btnSearch {
          align-items: center;
          background: $primary-color;
          cursor: pointer;
          display: flex;
          justify-content: center;
          height: 32px;
          width: 52px;
          transition: background-color ease .3s;

          &:hover {
            background: $primary-light-color;
          
            svg {
              width: 20px;
              height: 20px;
            }
          }
          &:active {
            background: $primary-dark-color;
          }
          
          svg {
            width: 18px;
            height: 18px;
            transition: width ease .3s, height ease .3s;
          }
        }
      }
    }
  }
}