@use '@common/mixin' as *;

.Bestwakki {
  @include tablet {
    margin: 0 calc((100% - 431px) / 2);
  }

  .moduleHeader {
    h1 {
      margin: 31px 0 0;
      padding: 0 0 26px 16px;
      font-size: 28px;
      font-weight: 500;
      line-height: 28px;
    }
    .controlWrapper {
      display: flex;
      flex-direction: column-reverse;
      @include desktop {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .right {
        display: flex;
        align-items: center;
        flex-direction: row;

        .SearchBar {
          margin-left: 4px;
        }
      }
    }
  }
}

.Bestwakki:not(.front) {
  @include desktop {
    margin: 0 calc((100% - 870px) / 2);
  }
}
