.container {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  & + footer {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 1;
  }
}

