.SubscriberBadge {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 10px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 2px;
}