.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 840px;
  position: relative;
  background-color: var(--color-background-white);

  .commonChatList {
    height: 0;
    flex: 1;
  }
}
