@use '@common/mixin' as *;

.container:not(.tiny) {
  border-radius: 16px;
  color: inherit;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 8px;

  &:hover {
    background-color: var(--color-hover);
  }
  &:active {
    background-color: var(--color-active);
  }

  .thumbWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    min-width: 72px;
    height: 72px;

    .icon {
      --width: 72px;
      --height: 72px;
      @include mobile {
        --width: 64px;
        --height: 64px;
        --iconWidth: 32px;
        --iconHeight: 32px;
      }
    }
  }

  .descWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 0;
    gap: 8px;

    .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1em;
    }
    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 1em;
      padding-bottom: 1px;
    }
  }
  &.small {
    border-radius: 8px;
    gap: 12px;

    .thumbWrapper {
      width: 48px;
      min-width: 48px;
      height: 48px;

      .icon {
        --width: 48px;
        --height: 48px;
        --iconWidth: 24px;
        --iconHeight: 24px;
      }
    }

    .descWrapper {
      gap: 4px;

      .title {
        font-size: 14px;
      }
      .description {
        font-size: 12px;
      }
    }
  }

  @include mobile {
    .thumbWrapper {
      width: 64px;
      min-width: 64px;
      height: 64px;
    }
    .descWrapper {
      padding: 0px 12px;

      .title {
        font-size: 16px;
      }
      .description {
      }
    }
  }
}

.container.tiny {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  .thumbWrapper {
    .icon {
      --width: 48px;
      --height: 48px;
      --iconWidth: 24px;
      --iconHeight: 24px;
      @include mobile-m {
        --width: 40px;
        --height: 40px;
        --iconWidth: 22px;
        --iconHeight: 22px;
      }
      @include mobile-s {
        --width: 40px;
        --height: 40px;
        --iconWidth: 22px;
        --iconHeight: 22px;
      }
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);

      .bottomShadow {
        display: none;
      }
    }
  }
  .descWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    .title {
      font-weight: 400;
      font-size: 13px;
      line-height: 1em;
      @include mobile-m {
        font-size: 11px;
      }
      @include mobile-s {
        font-size: 10px;
      }
    }
    .description {
      display: none;
    }
  }
}
