@import '../../common/common.scss';

.Apps {
  --column: 2;
  width: 100%;

  .appList {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .AppListItem {
      width: calc(100% / var(--column) - 16px);
    }
  }

  &.singleColumn {
    .appList .AppListItem {
      width: 100%;
    }
  }
  
  @include not-desktop {
    .appList {
      .AppListItem {
        width: 100%;
      }
    }
  }
}