@use '@common/mixin' as *;

.container {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 8px;
  align-self: stretch;
  width: 100%;

  &:hover {
    background-color: var(--color-hover);
  }
  &:active {
    background-color: var(--color-active);
  }

  .thumbnailWrapper {
    .thumbnail {
      border-radius: 8px;
      width: 48px;
      height: 48px;
    }
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;

    .board {
      color: var(--color-text-secondary);
      font-weight: 500;
      font-size: 12px;
      line-height: 1em;
    }
    .subject {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.4em;
    }
  }
}
