@use "@common/mixin" as *;

.SuspenseFallback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  .sectionWrapper {

    .Spinner {
      
    }
  }
}
@include desktop {
}
@include not-desktop {
}