@use '@common/mixin' as *;

.container {
  align-items: center;
  background-color: var(--color-component-gray);
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -60px;
  width: 40px;
  height: 40px;
  &:after {
    border-radius: 50%;
  }
  @include desktop {
    right: 16px;
    transform: scale(0);
  }
  @include not-desktop {
    left: 50%;
    transform: translateX(-50%) scale(0);
  }
  transition: transform ease 0.35s;
  pointer-events: none;

  &.show {
    @include desktop {
      transform: scale(1);
    }
    @include not-desktop {
      transform: translateX(-50%) scale(1);
    }
    pointer-events: auto;
  }

  svg {
    fill: var(--color-text-secondary);
  }
}
