@use '@common/mixin' as *;

.TransformAnimation {
  // background-color: #f001;

  & > .transformAnimation_contentWrapper {
    --animationTime: 0.3s;
    // background-color: #00f1;
    position: fixed;
    left: calc(var(--left) * 1px);
    top: calc(var(--top) * 1px);
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);

    &.transition {
      transition: left cubic-bezier(0.67, 0.065, 0.305, 0.94)
          var(--animationTime),
        top cubic-bezier(0.67, 0.065, 0.305, 0.94) var(--animationTime),
        width cubic-bezier(0.67, 0.065, 0.305, 0.94) var(--animationTime),
        height cubic-bezier(0.67, 0.065, 0.305, 0.94) var(--animationTime);
    }
  }
}
