@use '@common/mixin' as *;

.container {
  display: flex;
  align-items: center;
  border: solid 1px var(--color-border);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 250px;

  .inputForm {
    border: none;
    background: transparent;
    color: var(--color-text-primary);
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    padding: 0 4px 0 12px;
    flex: 1;
    vertical-align: middle;
    width: 0;

    &:placeholder {
      color: var(--color-text-secondary);
      font-size: 12px;
      font-weight: 500;
      transition: color ease 0.3s;
    }

    &:focus {
      outline: none;

      &:placeholder {
        color: transparent;
        transition: color ease 0.1s;
      }
    }
  }

  .searchTarget {
    .dispArea {
      .currName {
        color: var(--color-primary);
        display: block;
        min-width: fit-content;
        width: fit-content;
      }
      svg {
        fill: var(--color-primary);
      }
    }
  }

  .btnSearch {
    border-radius: 0;
  }
}
