@import '../../common/common.scss';

.Live + .footer {
  display: none;
}
.Live:not(.front) {
  width: 100%;
  height: calc(100vh - #{$header-height});
  display: grid;
  display: -ms-grid;
  &.landscape {
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    -ms-grid-columns: 1fr auto;
    -ms-grid-rows: 100%;
    grid-template-areas:
    "live chat";

  }
  &.portrait {
    grid-template-columns: 100%;
    grid-template-rows: calc(100vw / 16 * 9) 1fr;
    -ms-grid-columns: 100%;
    -ms-grid-rows: auto auto;
    grid-template-areas:
    "live"
    "chat";
  }
}

.playerWrapper {
  grid-area: live;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  .BroadcastInfo {
    padding: 24px 0;
    
    .panelContainer {
      padding: 0 8px;
      
      a img {
        max-width: 100%;
      }
    }
    .footerTxt {
      color: #888;
      font-size: 14px;
      padding: 16px 16px 72px;
      font-weight: 400;
    }
  }
  
  .Live.portrait & .footer {
    display: none;
  }
}
.WakPlayer {
  background-color: $twitch-color;
  box-sizing: border-box;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: calc(100% / 16 * 9);
  }
  .Live.landscape:not(.front) & {
    max-height: calc(100vh - #{$header-height} - 128px);
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .stream {
      width: 100%;
      height: 100%;
    }
  }
}
.LiveSummary {
  border: solid 1px $component-primary-border-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  padding: 15px 16px 20px;
  
  .left {
    display: flex;
    flex-direction: row;
    align-items: top;
    
    .liveProfile {
      
      img {
        width: 64px;
        height: 64px;
        
        .Live.front & {
          display: none;
        }
      }
    }
    
    .liveSummaryWrapper {
      & > span {
        display: block;
      }
      
      .liveTitle {
        color: $primary-text-color;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
      }
      .liveDateTime {
        color: $secondary-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 8px;

        .Live:not(.front) & {
          display: none;
        }
      }
      .livePresented {
        color: $secondary-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 8px;

        .Live.front & {
          display: none;
        }
      }
    }
  }
  
  .right {
    .Live.front & {
      display: none;
    }
    
    
  }
}
.TwitchChat {
  grid-area: chat;
  width: 100%;
  height: 100%;
  position: relative;
  
  .Live.landscape & {
    width: 320px;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .sizeController {
    cursor: ew-resize;
    position: absolute;
    top: 0;
    left: -8px;
    background: transparent;
    width: 16px;
    height: 100%;
    transition: background ease .15s;
    
    .Live.portrait & {
      display: none;
    }
    
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
    &:active {
      background: rgba(0, 0, 0, .2);
    }
  }
  
  .sizeControlWrapper {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    
    .sizeControlOverlay {
      background: $primary-color;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      opacity: 0;
      transition: opacity ease .15s;
    }
    
    &.dragged {
      cursor: ew-resize;
      pointer-events: auto;
      
      .sizeControlOverlay {
        opacity: .3;
      }
    }
  }
}