@import '../../common/common.scss';

.Live + .footer {
  display: none;
}
@include desktop {
  .Live:not(.front) {
    height: calc(100vh - #{$header-height});
  }
}
@include not-desktop {
  .Live.portrait:not(.front) {
    height: calc(100vh - #{$header-height});
  }
  .Live.landscape:not(.front) {
    height: 100vh;
  }
}
.Live:not(.front) {
  width: 100%;
  display: grid;
  display: -ms-grid;
  &.landscape {
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    -ms-grid-columns: 1fr auto;
    -ms-grid-rows: 100%;
    grid-template-areas:
    "live chat";
  }
  &.portrait {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    -ms-grid-columns: 100%;
    -ms-grid-rows: auto 1fr;
    grid-template-areas:
    "live"
    "chat";
  }

  
  @include desktop {
    .LiveSummary {
      padding: 14px 23px;

      .right {
        .down {
          display: none;
        }
      }
    }
  }
  @include not-desktop {
    .LiveSummary {
      padding: 10px 8px;

      .left {
        padding-left: 6px;

        .liveProfile {
          margin-right: 10px;
    
          .profileWrapper .imgWrapper {
            width: 56px;
            height: 56px;
          }
        }
        .liveSummaryWrapper {
          .liveTitle {
            font-size: 16px;
            line-height: 16px;
          }
          .livePresented {
            font-size: 12px;
            line-height: 12px;
            margin-top: 6px;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .up {
          padding: 7px 6px 0 0;
        }
        .down {
          .btnOpenInfo {
            height: 24px;
            margin: 0;
            
            .icon {
              width: 24px;
            }
          }
        }
      }
    }
  }
}

@include not-desktop {
  .App.live header.header {
    display: none;
  }
  
  .Live:not(.front) {
    .playerWrapper {
      height: 100vh;
      overflow: hidden;
      overflow-y: hidden;
      &.expanded {
        overflow-y: scroll;
  
        .WakPlayer {
          height: 0px;
        }
        .LiveSummary {
          position: sticky;
          top: 0;
        }
      }

      .LiveSummary {
        background: inherit;
        position: relative;
        top: 0;
        transition: top ease .3s;
      }
    }

    &.landscape .playerWrapper.opened .LiveSummary {
      top: -84px;
    }
    &.portrait .playerWrapper.opened {
      height: calc(100vw / 16 * 9 + 84px);
    }
    &.portrait .playerWrapper.expanded {
      height: calc(100vh - 52px);
    }
  }
}
.playerWrapper {
  background: $component-primary-bg-color;
  grid-area: live;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  .BroadcastInfo {
    
    .panelContainer {
      padding: 16px 24px 24px;
      
      a img {
        max-width: 100%;
      }
    }
    .footerTxt {
      color: $secondary-text-color;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 12px 24px 72px;

      a {
        color: $primary-text-color;
        font-weight: 500;
      }
    }
  }
  
  .Live.portrait & .footer {
    display: none;
  }
}
.Live.portrait .playerWrapper {
  height: calc(100vw / 16 * 9);
  overflow: hidden;
  transition: height ease .3s;
}
.LiveSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;

  .Live.front & {
    border: solid 1px $component-primary-border-color;
    padding: 15px 16px 20px;
  }
  
  .left {
    display: flex;
    flex-direction: row;
    align-items: top;
    
    .liveProfile {
      border: solid 2px $twitch-color;
      border-radius: 50%;
      margin-right: 15px;

      .profileWrapper {
        border: solid 2px $component-primary-border-color;
        border-radius: 50%;
        
        .imgWrapper {
          border-radius: 50%;
          width: 64px;
          height: 64px;
          overflow: hidden;

          .profileImg {
            width: 100%;
          }
        }
      }

      .Live.front & {
        display: none;
      }
    }
    
    .liveSummaryWrapper {
      padding-top: 6px;

      .Live.front & {
        padding-top: 0;
      }

      & > span {
        display: block;
      }
      
      .liveTitle {
        color: $primary-text-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;

        .Live.front & {
          font-size: 20px;
          line-height: 20px;
          margin-top: 0;
        }
      }
      .liveDateTime {
        color: $secondary-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 8px;

        .Live:not(.front) & {
          display: none;
        }
      }
      .livePresented {
        color: $primary-text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        margin-top: 8px;

        .Live.front & {
          display: none;
        }
      }
    }
  }
  
  .right {


    .Live.front & {
      display: none;
    }

    .up {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      padding: 8px 1px 0 0;

      .ViewerCounter {
        display: inline-flex;
        flex-direction: row;
        color: $emphasis-text-color;
  
        svg {
          margin-right: 4px;
          width: 14px;
          height: 14px;
        }
        .counterWrapper {
          display: inline-block;
        }
      }
      .StreamTime {
        color: $secondary-text-color;
        display: inline-block;
        margin-left: 12px;
      }
    }

  }
}

.TwitchChat {
  grid-area: chat;
  
  .Live.landscape & {
    width: 320px;
  }
  .sizeController {
    .Live.portrait & {
      display: none;
    }
  }
}