@import '../../common/common.scss';

.TwitchChat {
    --chatWidth: 320px;
    width: 100%;
    @media (orientation: landscape) {
      width: var(--chatWidth);
    }
    height: 100%;
    position: relative;
    
    .content {
      width: 100%;
      height: 100%;
    }
    
    .sizeController {
      cursor: ew-resize;
      position: absolute;
      top: 0;
      left: -8px;
      background: transparent;
      width: 16px;
      height: 100%;
      transition: background ease .15s;
      
      &:hover {
        background: rgba(0, 0, 0, .1);
      }
      &:active, &.focused {
        background: rgba(0, 0, 0, .2);
      }
    }
    
    .sizeControlWrapper {
      background: transparent;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      pointer-events: none;
      
      .sizeControlOverlay {
        background: $primary-color;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        opacity: 0;
        transition: opacity ease .15s;
      }
      
      &.dragged {
        cursor: ew-resize;
        pointer-events: auto;
        
        .sizeControlOverlay {
          opacity: .3;
        }
      }
    }
  }

@include not-desktop {
  .Live.portrait .TwitchChat {
    height: calc(100vh - (100vw / 16 * 9) - 52px);
    transition: height ease .3s;
  }
  .Live.portrait .playerWrapper.opened + .TwitchChat {
    height: calc(100vh - (100vw / 16 * 9 + 84px) - 52px);
  }
  .Live.portrait .playerWrapper.expanded + .TwitchChat {
    height: 0px;
  }

}