@import '../../common/common.scss';

.TwitchChatClient {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'chat'
    'bottom';
  width: 100%;
  height: 100%;
  position: relative;

  .twitchChatHeader {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    &.hideHeader {
      height: 0px;
      overflow: hidden;
    }
    @include not-desktop {
      & {
        height: 0px;
        overflow: hidden;
      }
    }
  }
  .TwitchChatList {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    padding: 0;
    position: relative;
    overflow-y: hidden;

    .TwitchChatListWrapper {
      box-sizing: border-box;
      margin: 0;
      overflow-y: scroll;
      height: 100%;
      padding: 8px 0;
      display: flex;
      flex-direction: column-reverse;

      &::-webkit-scrollbar {
        width: 8px;
        padding: 2px 0;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background: #aaa;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 4px;
      }

      .twitchChatItem {
        font-size: 14px;
        font-weight: 400;
        padding: 5px 16px;
        vertical-align: middle;

        &.sysMessage {
          background: $component-primary-border-color;
          border-radius: 8px;
          box-sizing: border-box;
          color: $secondary-text-color;
          margin: 4px;
          padding: 5px 16px;
          text-align: center;
        }

        &.hideNickname {
          padding: 4px 16px;
          line-height: 1.1em;

          .chatProfile,
          .chatDivider {
            display: none;
          }
        }

        & > span {
          vertical-align: middle;;
        }

        .chatProfile {

          .nickname {
            font-weight: 500;
          }
          .userid {
            font-weight: 400;
            font-size: 12px;
            margin-inline-start: 2px;
          }
        }

        .TwitchChatEmote {
          vertical-align: middle;

          @include not-desktop {
            
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .TwitchChatBadge {
          vertical-align: middle;
          margin-inline-end: 2px;
        }
      }
    }

    .twitchChatScrollToBottom {
      background: #000a;
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      animation: animFadeIn .3s .5s ease normal forwards;
    }
    @keyframes animFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .TwitchChatList.filteredChatList {
    background: $component-primary-bg-color;
    border-bottom: 1px solid $component-secondary-border-color;
    box-shadow: 0px 2px 8px 0px #0003;
    grid-area: chat;
    position: absolute;
    top: 1px;
    width: 100%;
    height: 30%;
    @include not-desktop {
      height: 45%;
    }
  }

  .twitchChatBottom {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    width: 100%;
    position: relative;
    @include not-desktop {
      flex-direction: row;
      align-items: flex-end;

      .twitchChatInputWrapper {
        flex-grow: 1;
      }
    }

    .twitchChatInputWrapper {
      position: relative;

      textarea.twitchChatInput {
        background: $component-primary-border-color;
        border: $component-primary-border-color solid 2px;
        border-radius: 8px;
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        margin: 0;
        padding: 8px;
        padding-right: 32px;
        resize: none;
        width: 100%;
        height: 40px;
        transition: border ease .3s;
  
        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
      .twitchChatBtnEmote {
        color: $secondary-text-color;
        position: absolute;
        right: 2px;
        bottom: 2px;
        padding: 4px;
      }
    }

    .twitchChatBtnSettingMobile {
      padding: 6px;
      margin-right: 0;
      
      @include desktop {
        display: none;
      }
    }

    .twitchChatInputFooter {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8px;
      width: 100%;
      
      @include not-desktop {
        & {
          display: none;
        }
      }

      .inputFooterRightWrapper {
        display: flex;
        flex-direction: row;

        .twitchChatBtnSetting {
          color: $secondary-text-color;
          margin: 0 4px;
          padding: 1px 6px;
        }
        .twitchChatBtnSend {
          margin: 0;
          padding: 6px 11px;
        }
      }
    }

    .TwitchChatEmotePicker {
      --margin: 8px;
      box-sizing: border-box;
      position: absolute;
      width: calc(100% - (var(--margin) * 2));
      height: 200px;
      left: var(--margin);
      bottom: calc(100% + var(--margin));

      .TwitchChatEmotePickerDim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 999;
      }

      .TwitchChatEmotePickerContent {
        background: $component-primary-bg-color;
        border-radius: 8px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        position: relative;
        padding: 8px;
        z-index: 1000;
        /*animation: animFadeIn .3s 0s 1 ease normal forwards;*/

        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          background: #f0f0f0;
          background-clip: padding-box;
          border: 2px solid transparent;
          border-radius: 4px;
        }

        .TwitchChatEmoteSet {
          padding: 8px 0;
          border-bottom: 1px solid $component-secondary-border-color;

          .emoteSetName {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            margin-left: 6px;
            margin-bottom: 4px;

            .CircleImg {
              width: 32px;
              margin-right: 8px;
            }
          }
          .emoteList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .TwitchChatEmote {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 6px;
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }

    .TwitchChatSettingPanel {
      --margin: 8px;
      box-sizing: border-box;
      position: absolute;
      width: calc(100% - (var(--margin) * 2));
      left: var(--margin);
      bottom: calc(100% + var(--margin));

      .TwitchChatSettingPanelDim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 999;
      }

      .TwitchChatSettingPanelContent {
        background: $component-primary-bg-color;
        border-radius: 8px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
        height: 100%;
        position: relative;
        padding: 8px;
        z-index: 1000;

        & > header {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 8px;

          .dummy {
            width: 28px;
          }
          .title {
            color: $primary-text-color;
            flex-grow: 1;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
          }
          .twitchChatBtnClose {
            padding: 4px;
          }
        }

        .CheckBox {
          width: 100%;
        }
      }
    }
  }

  .twitchChatLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 4;

    .loginTitle {
      color: $secondary-text-color;
      font-size: 14px;
      font-weight: 400;
    }
    .btnLoginTwitch {
      background: $twitch-color;
      font-size: 14px;
      font-weight: 500;
      margin-top: 8px;
      padding: 0 10px;
    }
  }

  .twitchChatButton {
    background: $primary-color;
    border: none;
    border-radius: 8px;
    color: $dark-primary-text-color;
    display: flex;
    align-items: center;
    height: 32px;
    transition: filter ease .15s, background-color ease .15s;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
      outline: none;
    }
  }
}