@use '@common/mixin' as *;

.TwitchChat {
  width: 100%;
  @media (orientation: landscape) {
    width: var(--size, 320px);
  }
  height: 100%;
  position: relative;

  .content {
    width: 100%;
    height: 100%;
  }
  .liveChat {
    width: 100%;
    height: 100%;
  }

  &.small {
    .TwitchChatClient .TwitchChatListWrapper {
      .twitchChatItem {
        font-size: 12px;
        padding: 4px 4px 4px 8px;

        &.sysMessage {
          border-radius: 8px;
          margin: 4px;
          padding: 5px 16px;
        }

        .chatProfile {
          .nickname {
          }
          .userid {
            font-weight: 400;
            font-size: 10px;
            margin-inline-start: 2px;
          }
        }

        .TwitchChatBadge img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

@include not-desktop {
  .Live.portrait .TwitchChat {
    height: calc(100vh - (100vw / 16 * 9) - 52px);
    transition: height ease 0.3s;
  }
  .Live.portrait .playerWrapper.opened + .TwitchChat {
    height: calc(100vh - (100vw / 16 * 9 + 84px) - 52px);
  }
  .Live.portrait .playerWrapper.expanded + .TwitchChat {
    height: 0px;
  }
}
