@use '@common/mixin' as *;

.ViewerCounter {
  color: var(--color-red);
  display: inline-flex;
  flex-direction: row;
  position: relative;

  svg {
    margin-right: 4px;
    width: 14px;
    height: 14px;
  }
  .counterWrapper {
    display: inline-block;
  }
  .maxViewerWrapper {
    background: var(--color-component-white);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: var(--color-text-secondary);
    padding: 8px 0;
    position: absolute;
    width: 160px;
    text-align: center;
    opacity: 0;
    transition: opacity ease 0.15s;
    z-index: 500;
    pointer-events: none;
    @include desktop {
      top: -8px;
      right: calc(100% + 8px);
    }
    @include not-desktop {
      top: calc(100% + 8px);
      right: -24px;
    }
  }

  &:hover .maxViewerWrapper {
    opacity: 1;
  }
}
