@use '@common/mixin' as *;

.WaktoonList.WaktoonEpisodeList {
  ul.itemList {
    padding-bottom: 8px;
    padding-top: 0;
    gap: 8px 4px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
