@use '@common/mixin' as *;

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  .risingUp{
    overflow: hidden;
  }

  .scrollButton {
    @include font14_14_500;
    color: var(--color-gray-200);
    background-color: var(--color-primary);
    border-radius: 20px;
    display: flex;
    padding: 9px 12px;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
  }
  .snackBar {
    @include font14_14_500;
    display: flex;
    background-color: var(--color-overlay);
    color: var(--color-gray-200);
    padding: 8px 16px;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
