@use '@common/mixin' as *;

.BasicButton {
  background: var(--color-primary);
  border: none;
  border-radius: 8px;
  color: var(--color-text-dark-primary);
  &:not(.disabled) {
    cursor: pointer;
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 4px;
  padding: 6px 10px;
  position: relative;
  width: fit-content;
  vertical-align: middle;
  user-select: none;

  &.disabled {
    opacity: 0.7;
  }
  &.Transparent {
    background: transparent;
  }

  &::after {
    border-radius: 8px;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background-color ease 0.15s;
    pointer-events: none;
  }
  @include desktop {
    &:not(.disabled):hover::after {
      background: rgba(255, 255, 255, 0.1);
    }
    &:not(.disabled).Transparent:hover::after {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &:focus {
    outline: none;
  }
  &:not(.disabled):active::after {
    background: rgba(0, 0, 0, 0.1);
  }
  &:not(.disabled).Transparent:active::after {
    background: rgba(0, 0, 0, 0.2);
  }

  &.CircleImgButton {
    border-radius: 50%;
    padding: 0;
    width: fit-content;
    height: fit-content;

    &::after {
      border-radius: 50%;
    }

    .CircleImg {
      width: 100%;
    }
  }

  &.hasRibbon {
    & > .description {
      display: none;
    }
    @include desktop {
      & > .description {
        background: #111a;
        border-radius: 4px;
        box-shadow: 0px 0px 8px 1px #0003;
        color: var(--color-text-dark-primary);
        display: flex;
        font-size: 14px;
        opacity: 0;
        padding: 6px 8px;
        position: absolute;
        bottom: 100%;
        pointer-events: none;
        width: max-content;
        transition:
          bottom ease 0.15s,
          top ease 0.15s,
          opacity ease 0.15s;
        z-index: 100;
      }
      &:hover > .description {
        bottom: 110%;
        opacity: 1;
      }
      &.bottomRibbon > .description {
        bottom: auto;
        top: 100%;
      }
      &.bottomRibbon:hover > .description {
        bottom: auto;
        top: 110%;
      }
    }
  }
}
