.Chat {
  --accentColor: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-left: 4px solid var(--accentColor, transparent);
  padding: 0 16px 0 12px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;

  .contentContainer {
    .timestamp {
      font-size: 12px;
      color: var(--color-text-secondary);
      margin-right: 8px;
    }
    .content {
      vertical-align: middle;
      line-height: 20px;
    }
  }
}
