@use '@common/mixin' as *;

.Button {
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0 4px;
  overflow: hidden;
  position: relative;
  width: fit-content;
  height: 32px;
  vertical-align: middle;
  user-select: none;

  &.fillWidth {
    margin: 0;
    text-align: center;
    padding: 2px 0 8px;
    width: 100%;
    height: auto;
  }
  &.fill {
    width: 100%;
    height: 100%;
  }
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background-color ease 0.15s;
  }
  @include desktop {
    &:hover::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
    }
  }
  &:active::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: inherit;
    vertical-align: middle;

    img {
      display: inline-block;
      width: 18px;
      height: auto;
    }

    & + .label {
      background-color: #fff;
    }
  }

  .label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-primary);
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    line-height: 12px;
    padding: 0 8px 0 6px;
    vertical-align: middle;
  }

  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
