@import '../common.scss';

.DatePicker {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  display: none;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "preset range";
  padding: 8px 4px 8px 0;
  user-select: none;
  position: absolute;
  z-index: 100;
  $itemWidth: 32px;
  $itemHeight: 30px;
  animation: openDialog .3s 0s 1 ease normal forwards;

  &.opened {
    display: grid;
  }

  .preset {
    border-right: 1px solid $component-secondary-border-color;
    grid-area: preset;

    .presetItem {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: left;
      margin: 0;
      padding: 4px 8px 4px 8px;
      width: 88px;
      height: 23px;
      vertical-align: middle;
      transition: background-color ease .15s;
  
      &:not(.checked):hover {
        background-color: rgba(0, 0, 0, .1);
      }
      
      .marker {
        background-color: $primary-color;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 8px 5px 2px;
        width: 4px;
        height: 4px;
        opacity: 0;
        pointer-events: none;
        transition: opacity ease .15s;
      }
      .name {
        color: $secondary-text-color;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        pointer-events: none;
        transition: color ease .15s;
      }
      &.checked {
        .marker {
          opacity: 1;
        }
        .name {
          color: $primary-color;
        }
      }
    }
    .presetLine {
      background-color: $component-secondary-border-color;
      margin: 4px 8px 4px 8px;
      width: 88px;
      height: 1px;
    }
  }

  .range {
    grid-area: range;

    .dateRange {
      color: $secondary-text-color;
      font-size: 14px;
      margin: 3px 0px 1px 2px;

      .startDate,
      .endDate {
        display: inline;
  
        input{
          border: none;
          font-size: 14px;
          font-weight: 500;
          padding: 6px 0px 6px 8px;
          width: 80px;
          transition: color ease .15s;

          &:active,
          &:focus,
          &.selected {
            color: $primary-color;
            outline: none;
          }
        }
      }
    }

    .days {
      border-bottom: 1px solid $component-secondary-border-color;
      display: flex;
      width: 100%;
      height: $itemHeight;

      .day {
        width: $itemWidth;
        height: $itemHeight;

        & > span {
          color: $secondary-text-color;
          display: block;
          font-size: 14px;
          line-height: 14px;
          margin: calc((#{$itemWidth} - 16px) / 2) calc((#{$itemHeight} - 16px) / 2);
          padding: 0;
          width: 16px;
          height: 16px;
          text-align: center;
        }
      }
    }
    .dateViewWrapper {
      height: 220px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 16px;

        &:hover {
          background-color: $component-primary-border-color;
        }
      }
      &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: $component-secondary-border-color;
        border: 2px solid transparent;
        border-top: 1px;
        border-bottom: 1px;
        border-radius: 6px;
        transition: background-color ease .15s;

        &:hover {
          background-color: $primary-color;
        }
      }
      .DateView {
        height: calc(#{$itemHeight} * 6);
        margin: 1px 0 15px;

        .listWrapper {
          display: flex;
          flex-wrap: wrap;
          width: calc(#{$itemWidth} * 7);

          .header {
            animation-name: fadein;
            animation-duration: .1s;
            animation-fill-mode: forwards;
            display: block;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            padding: calc((#{$itemWidth} - 16px) / 2) calc((#{$itemHeight} - 14px) / 2);
            width: calc(#{$itemWidth} * 7);
            height: $itemHeight;
            box-sizing: border-box;
          }
          &.inlineHeader .header {
            width: calc(#{$itemWidth} * 3);
          }

          .DateItem {
            animation-name: fadein;
            animation-duration: .1s;
            animation-fill-mode: forwards;
            cursor: pointer;
            display: block;
            width: $itemWidth;
            height: $itemHeight;
            position: relative;
    
            & > span {
              color: $secondary-text-color;
              display: block;
              font-size: 14px;
              line-height: 14px;
              margin: calc((#{$itemHeight} - 16px) / 2) calc((#{$itemWidth} - 16px) / 2);
              padding: 0;
              width: 16px;
              height: 16px;
              text-align: center;
              pointer-events: none;
            }
            &.checked {

              &::before {
                background-color: white;
                box-sizing: border-box;
                color: transparent;
                content: 'n';
                display: block;
                width: $itemWidth;
                height: $itemHeight - 4px;
                top: 2px;
                position: absolute;
                z-index: 1;
                border-top: 1px solid $component-secondary-border-color;
                border-bottom: 1px solid $component-secondary-border-color;
              }
              &.start::before {
                border-radius: 8px 0px 0px 8px;
                border-left: 1px solid $component-secondary-border-color;
              }
              &.end::before {
                border-radius: 0px 8px 8px 0px;
                border-right: 1px solid $component-secondary-border-color;
              }
              &.this::before {
                border-radius: 8px;
                border: 1px solid $component-secondary-border-color;
              }
              &.dummy::before,
              &.disabled::before {
                background-color: transparent;
                border: none;
              }

              & > span {
                color: $primary-color;
                position: absolute;
                z-index: 2;
              }
            }
            &:hover {

              &::after {
                background-color: $primary-color;
                border-radius: 8px;
                box-sizing: border-box;
                color: transparent;
                content: 'n';
                display: block;
                width: $itemWidth;
                height: $itemHeight - 4px;
                top: 2px;
                position: absolute;
                z-index: 1;
              }

              & > span {
                color: white;
                position: absolute;
                z-index: 2;
              }
            }
            &.disabled > span {
              color: $component-secondary-border-color;
            }
            &.dummy > span {
              color: transparent;
            }
          }
        }
      }

    }
  }
}
@keyframes openDialog {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }

}
