@import '../common.scss';

.Spinner {
  background-color: transparent;
  color: $primary-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 240px;

  .spinnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .spinnerAnim {
      margin: 0 0 4px;
      padding: 0;
      width: 48px;
      height: 48px;
    }
  }
  .skeleton {
    .skeletonItem {
      border-radius: 4px;
      overflow: hidden;
      background-repeat: repeat-x;
      background-image: linear-gradient(
          100deg,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, .5) 50%,
          rgba(255, 255, 255, 0) 80%
        ), linear-gradient(rgba(0, 0, 0, .07) 64px, transparent 0);
      background-size: 200px 70px, 200px 300px;
      background-position: 0 0, 200px 0;
      animation: loading .5s linear infinite;
    }
  }
}

@keyframes loading {
  to {
    background-position:
      200px 0,
      200px 0;
  }
}