@use '@common/mixin' as *;

.container {
  @include font16_16_500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--color-background-white);
  border-bottom: 1px solid var(--color-border);
}