@use '@common/mixin' as *;

.VideoList {
  ul.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    --gap: 12px;
    gap: var(--gap);
    --column-count: 3;

    .VideoItem {
      @media (min-width: #{$mob-l-width}) and (max-width: 1280px) {
        --width: calc(
          (100% - var(--gap) * (var(--column-count) - 1)) / var(--column-count)
        );
      }
      @media (min-width: 900px) and (max-width: 1280px) {
        --column-count: 3;
      }
      @media (min-width: #{$mob-l-width}) and (max-width: 899px) {
        --column-count: 2;
      }
      @media (max-width: 768px) {
        .infoArea {
          --profileCircleSize: 32px;

          .profileCircle {
            margin: 8px 4px;
          }

          .descArea {
            width: calc(100% - var(--profileCircleSize) - 4px * 2);

            .title,
            .uploadedTime {
              line-height: 12px;
              font-size: 12px;
            }
            .uploadedTime {
              line-height: 14px;
              margin-top: 4px;
              margin-bottom: 2px;
            }
          }
        }
      }
      @include mobile {
        margin: 0;
        padding: 8px 16px;
        width: 100%;

        & > a {
          flex-direction: row;
        }

        &:hover {
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

          .previewWrapper {
            border-radius: 8px;
          }
        }

        .previewWrapper {
          border-radius: 8px;
          --width: 140px;
          /*padding-top: 79px;*/
        }

        .infoArea {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 100%;

          .profileCircle {
            display: none;
          }

          .descArea {
            align-items: flex-start;
            justify-content: flex-start;
            padding: 8px 12px;
            width: 100%;

            .title,
            .uploadedTime {
              line-height: 1em;
              font-weight: 400;
            }
            .title {
              font-size: 16px;
              font-weight: 400;
              white-space: normal;
            }
            .uploadedTime {
              font-size: 14px;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
  &.listStyleList {
    ul.itemList {
      .VideoItem {
        margin: 0;
        padding: 8px;
        width: 100%;
        transition: background ease 0.15s;

        & > a {
          flex-direction: row;
        }

        &:hover {
          box-shadow: none;
          background: #0001;

          .previewWrapper {
            border-radius: 8px;
          }
        }
        &:active {
          background: #0002;
        }

        .previewWrapper {
          border-radius: 8px;
          --width: 140px;
          /*padding-top: 79px;*/

          .viewCount {
            display: none;
          }
        }

        .infoArea {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 100%;

          .profileCircle {
            display: none;
          }

          .descArea {
            align-items: flex-start;
            justify-content: flex-start;
            padding: 4px 12px;
            width: 100%;

            .title,
            .uploadedTime {
              line-height: 1em;
              font-weight: 400;
            }
            .title {
              font-size: 14px;
              font-weight: 400;
              white-space: normal;
            }
            .uploadedTime {
              font-size: 12px;
              line-height: 1em;
              margin-top: 2px;
            }
            .viewCount {
              display: inline-block;
              font-size: 12px;
              line-height: 1em;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
  .more {
    text-align: center;
    .moreLoad {
      border-radius: 8px;
      display: block;
      padding: 0;
      width: 100%;
      height: 48px;
      transition: background-color ease 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
        @include not-desktop {
          background: transparent;
        }
      }
    }
  }
}
