@use '@common/mixin' as *;

.VideoContentList {
  width: 100%;

  &.shorts {
    .VideoItem {
      .previewWrapper {
        aspect-ratio: 9/16;
      }
    }
  }
  &.hideProfileCircle {
    .VideoItem {
      .infoArea {
        box-sizing: border-box;
        padding: 10px 8px 12px;

        .profileCircle {
          display: none;
        }
        .descArea {
          width: 100%;
        }
      }
    }
  }

  ul.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 8px;
    width: max-content;
  }

  .spinner {
    width: 790px;
    height: 168px;
  }
}
