@use '@common/mixin' as *;

.container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 51.38%,
    rgba(0, 136, 255, 0.03) 88.02%
  );
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  width: 100%;
  height: 100dvh;

  & + .footer {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 0px;
    position: relative;
    --circleScale: calc(100vw / 411);

    & > .circle1 {
      background: linear-gradient(
        180deg,
        rgba(0, 255, 25, 0.8) 35.94%,
        rgba(176, 255, 180, 0.8) 100%
      );
      border-radius: 50%;
      position: fixed;
      width: calc(var(--circleScale) * 852);
      height: calc(var(--circleScale) * 848);
      left: calc(var(--circleScale) * -450);
      top: calc((var(--circleScale) - 0.35px) / 0.65 * -554);
      z-index: 1;
    }
    & > .circle2 {
      background: linear-gradient(
        180deg,
        rgba(255, 0, 229, 0.3) 63.02%,
        rgba(255, 133, 243, 0.3) 100%
      );
      border-radius: 50%;
      position: fixed;
      width: calc(var(--circleScale) * 642);
      height: calc(var(--circleScale) * 639);
      left: calc(var(--circleScale) * 120);
      top: calc((var(--circleScale) - 0.55px) / 0.45 * -263);
      z-index: 0;
    }

    .headerWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      padding: 1rem 1rem 2rem;
      gap: 1rem;
      z-index: 2;

      .highlight {
        --scale: calc((100vw / 411 - 0.6px) / 0.4);
        --padding: calc(var(--scale) * 32);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: calc((var(--scale) + 2px) / 3 * 32) var(--padding)
          calc((var(--scale) + 4px) / 5 * 24);
        gap: 32px;
        align-self: stretch;

        .livePreview {
          --width: calc(100vw - var(--padding) * 2 - 32px);
          width: var(--width);
          height: calc(var(--width) / 16 * 9);

          .profileCircle {
            display: none;
          }
        }
      }
      & > .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        padding: 0px;

        .logo img {
          width: 120px;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    padding: 0px;
    padding-bottom: 16px; /* TODO: nav 구현하면 삭제 */
    gap: 1.5rem;

    nav {
      background: var(--color-background-footer);
      border-top: 1px solid var(--color-border);
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      padding: 0px 16px;
      gap: 16px;
      height: 56px;
    }
  }
}
