@use '@common/mixin' as *;

.CheckBox {
  background: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  padding: 6px 10px;
  position: relative;
  vertical-align: middle;
  user-select: none;

  &.fillContainer {
    width: 100%;
  }

  &.on {
    .indicator {
      background: var(--accentColor, var(--primary-color));
      border-color: var(--accentColor, var(--primary-color));

      .marker {
        left: 10px;
      }
    }
  }

  .label {
    flex-grow: 1;
    text-align: left;
  }
  .indicator {
    box-sizing: border-box;
    width: 28px;
    height: 16px;
    border-radius: 8px;
    border: #0003 solid 1px;
    transition: background-color ease 0.15s;

    .marker {
      background: #fafafa;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 0 0 2px 1px #0003;
      width: 18px;
      height: 18px;
      position: relative;
      left: -2px;
      top: -2px;
      transition: left ease 0.15s;
    }
  }

  @include not-desktop {
    font-size: 16px;
    font-weight: 500;
    padding: 16px 12px;
    transition: background-color ease 0.1s;

    &:active {
      background: rgba(0, 0, 0, 0.05);
    }

    &.on {
      .indicator .marker {
        left: 10px;
      }
    }

    .indicator {
      background: #0001;
      border: transparent solid 1px;

      .marker {
        box-shadow: 0 0 2px 1px #0003;
      }
    }
  }
}
