@use '@common/mixin' as *;

.container {
  --column: 2;
  width: 100%;

  .appList {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: calc(100% / var(--column) - 16px);
    }
  }

  &.singleColumn {
    .appList .item {
      width: 100%;
    }
  }

  @include not-desktop {
    .appList {
      .item {
        width: 100%;
      }
    }
  }
}
