@import './variables';

@mixin mobile-s {
  @media (max-width: #{$mob-s-width - 1px}) {
    @content;
  }
}

@mixin mobile-m {
  @media (min-width: #{$mob-s-width}) and (max-width: #{$mob-m-width - 1px}) {
    @content;
  }
}

@mixin mobile-l {
  @media (min-width: #{$mob-m-width}) and (max-width: #{$mob-l-width - 1px}) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: #{$mob-m-width - 1px}) {
    @content;
  }
}

@mixin mobile-ml {
  @media (min-width: #{$mob-s-width}) and (max-width: #{$mob-l-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mob-l-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mob-l-width}) and (max-width: #{$tablet-s-width - 1px}) {
    @content;
  }
}

@mixin not-desktop {
  @media (max-width: #{$tablet-s-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$tablet-s-width}) {
    @content;
  }
}

@mixin font16_16_500 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

@mixin font14_14_500 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 500;
}

@mixin font12_12_500 {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 500;
}
