$desktop-l-width: 1440px;
$desktop-s-width: 1024px;
$tablet-s-width: 960px;
$mob-l-width: 640px;
$mob-m-width: 425px;
$mob-s-width: 375px;

$header-height: 52px;

$image-background-color: #ddd;

$primary-text-color: #333;
$primary-middle-text-color: #555;
$dark-primary-text-color: #f0f0f0;
$dark-secondary-text-color: #aaa;

$button-secondary-bg-color: #f0f0f0;
$button-secondary-text-color: $primary-middle-text-color;

$twitch-color: #9147ff;
$youtube-color: #f00;
$chzzk-color: #00ffa3;
$afreeca-color: #0545b1;
$afreeca-light-color: #3262b4;
$instagram-color: linear-gradient(
  45deg,
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);
$wakki-color: #5ac467;
$github-color: #1b1f23;

$emphasis-text-color: #d40000;

:root {
  // TODO: prefix --color로 통일하기
  --primary-color: #0085ff;
  --primary-light-color: #1b91ff;
  --primary-dark-color: #0077e7;

  --white: #fff;
  --gray-100: #fafafa;
  --gray-200: #f8f8f8;
  --gray-300: #eaeaea;
  --gray-400: #d9d9d9;
  --gray-500: #949494;
  --gray-600: #777;
  --gray-700: #424242;
  --gray-800: #222;
  --black: #000;

  --text-primary-color: var(--gray-800);
  --text-secondary-color: var(--gray-700);

  --text-dark-primary-color: var(--gray-300);

  --background-white-color: #fafafa;
  --component-primary-bg-color: #fafafa;
  --component-primary-border-color: #f0f0f0;
  --component-secondary-bg-color: #f0f0f0;
  --component-secondary-border-color: #ccc;

  --isedol-color: #d74d74;

  --isedol-ine-color: #8a2be2;
  --isedol-jingburger-color: #f0a957;
  --isedol-lilpa-color: #443965;
  --isedol-jururu-color: #ff008c;
  --isedol-gosegu-color: #467ec6;
  --isedol-viichan-color: #95c100;

  --wakki-color: #5ac467;

  // v2

  // grayscale
  --color-white: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #f8f8f8;
  --color-gray-300: #eaeaea;
  --color-gray-400: #d9d9d9;
  --color-gray-500: #949494;
  --color-gray-600: #777;
  --color-gray-700: #424242;
  --color-gray-800: #222;
  --color-black: #000;

  // theme color
  --color-primary: #0085ff;
  --color-secondary: #ff6590;
  --color-red: #d40000;

  // text color
  --color-text-primary: var(--gray-800);
  --color-text-secondary: var(--gray-600);
  --color-text-dark-primary: var(--gray-200); // darkmode, darken background
  --color-text-dark-secondary: var(--gray-400);

  // social color

  // isedol color

  // component color
  --color-background-white: var(--color-white);
}
