$desktop-l-width: 1440px;
$desktop-s-width: 1024px;
$tablet-s-width: 960px;
$mob-l-width: 640px;
$mob-m-width: 425px;
$mob-s-width: 375px;

$header-height: 52px;


$primary-color: #0085ff;
$primary-light-color: #1b91ff;
$primary-dark-color: #0077e7;
$component-primary-bg-color: #fafafa;
$component-primary-border-color: #f0f0f0;
$component-secondary-border-color: #ccc;

$primary-text-color: #333;
$secondary-text-color: #888;

$twitch-color: #9147ff;
$youtube-color: #f00;
$wakki-color: #5ac467;
$github-color: #1b1f23;