@import '../../../../common/common.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;

  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary-color);
}