@use '@common/mixin' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  @include mobile {
    flex-direction: column;
    width: 100%;
  }

  :global(.SkeletonLoader) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include mobile {
      flex-direction: column;
      width: 100%;
    }
  }
}
