@import '../../common/common.scss';

.WaktoonList {

  ul.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 12px 5px;
  
    .WaktoonItem {
      margin: 0;
    }
  }
  .more {
    text-align: center;
    .moreLoad {
      border-radius: 8px;
      display: block;
      padding: 0;
      width: 100%;
      height: 48px;
      transition: background-color ease .3s;
  
      &:hover {
        background: rgba(0, 0, 0, .05);
        @include not-desktop {
          background: transparent;
        }
      }
    }
  }
}