@import '../../common/common.scss';

.Waktoon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 64px;
  margin: 0;
  gap: 32px;

  .headerWrapper {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .02);
    padding: 48px 0 32px;
    width: 100%;

    .headerContainer {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      gap: 48px;

      & > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1.title {
          color: $primary-text-color;
          font-weight: 500;
          font-size: 36px;
          line-height: 1em;
          margin: 0;

          a.title, .line {
            display: none;
          }

          .waktoonLogo {
            color: $primary-text-color;
            
            .beta {
              color: #4ddf8a;
              font-size: 24px;
              font-style: italic;
            }
          }
        }

        aside.category {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 32px;

          ul.categoryList {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;

            li {
              a {
                color: $primary-text-color;
                font-weight: 500;
                font-size: 18px;
                line-height: 1em;
                transition: color ease .15s;

                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
          .btnLogin {
            background: $button-secondary-bg-color;
            color: $button-secondary-text-color;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 10px 12px;
            gap: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
      
      section.highlight {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 100%;
        
        .intro {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 8px 0px;
          gap: 12px;
          width: 240px;

          h2.title {
            color: $primary-text-color;
            font-weight: 500;
            font-size: 24px;
            line-height: 1em;
            margin: 0;
          }
          .description {
            color: $primary-middle-text-color;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6em;
          }
          .btnMoreBest {
            color: $primary-color;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 1em;
            padding: 4px 0;
          }
        }
        .waktoonBestListWrapper {
          flex-grow: 1;
          width: calc(100% - 240px - 24px);

          .WaktoonBestList {
            width: 100%;

            ul.itemList {
            }
          }
        }
      }
  
    }
  }

  .sectionWrapper {
    --width: 1200px;
    display: grid;
    grid-template-columns: calc(var(--width) - 320px - 32px) 320px;
    grid-template-rows: auto;
    grid-template-areas: 'main side';
    gap: 32px;
    max-width: var(--width);

    .ContentPanel {
      margin-top: 0;

      .panelHeader > a {
        margin: 0 8px 24px;
      }
    }

    section.main {
      padding-top: 10px;
    }
    section.side {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 32px;

      .BasicSearchBar {
        width: 100%;
      }
      .ContentPanel {
        width: 100%;
      }
    }
  }
}

.EverywakLoginArea {
  display: flex;
  flex-direction: row;
  align-items: center;

  .userInfoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .CircleImg {
      width: 44px;
      background: #d9d9d9;
      border-radius: 50%;
    }
    .nickname {
      font-size: 16px;
    }
  }
}
@include desktop {
}
@include not-desktop {
  .Waktoon {
    padding: 0 0 31px;
    gap: 0;
    background: $component-secondary-bg-color;
  
    .headerWrapper {
      background: $component-primary-bg-color;
      padding: 0;
  
      .headerContainer {
        margin: 0;
        padding: 0px 0px 12px;
        gap: 32px;
  
        & > header {
          padding: 8px 20px 10px;
          justify-content: center;
  
          h1.title {
            color: $primary-text-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 4px 4px 4px;
            gap: 8px;
            font-size: 20px;
            a.title {
              display: block;
              height: 28px;

              img {
                height: inherit;
              }
            }
            a {
              color: $primary-text-color;
            }
            .line {
              background-color: $secondary-text-color;
              display: block;
              width: 2px;
              height: 20px;
            }
  
            .waktoonLogo {
              display: inline-block;

              .beta {
                font-size: 16px;
              }
            }
          }
  
          aside.category {
            display: none;
          }
        }
        
        section.highlight {
          flex-direction: column;
          gap: 8px;
          
          .intro {
            flex-direction: row;
            padding: 0px 24px;
            gap: 12px;
            width: fit-content;
  
            h2.title {
              font-size: 24px;
            }
            .description {
              display: none;
            }
            .btnMoreBest {
              color: $primary-color;
              display: flex;
              align-items: center;
              font-weight: 500;
              font-size: 14px;
              line-height: 1em;
              padding: 4px 0;
            }
          }
          .HorizontalScrollableList {
            .listWrapper {
              box-sizing: border-box;
              padding: 8px 16px 0;
            }
            .btnControl {
              width: 48px;
            }
          }
          .waktoonBestListWrapper {
            width: 100%;
  
            .WaktoonBestList {
              width: 100%;
  
              ul.itemList {
                padding-bottom: 0;
              }
            }
          }
        }
    
      }
    }
  
    .sectionWrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 16px;
      max-width: 100%;
      
  
      section.main {
        background: $component-primary-bg-color;
        padding: 16px 0px;
  
        .ContentPanel {
          padding: 16px 0px;
          gap: 24px;
          .panelHeader > a {
            font-size: 20px;
            padding: 0px 24px;
          }

          .WaktoonGeneralList {

            .itemList {
              justify-content: center;
              gap: 0px 8px;
            }
          }
        }
      }
      section.side {
        background: $component-primary-bg-color;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 8px 0px;
  
        .BasicSearchBar {
          display: none;
        }
  
        .ContentPanel {
          padding: 8px 0;

          .SectionHeader.big {
            padding: 0px 24px;
            .titleArea .title, a {
              font-size: 16px;
              margin-bottom: 16px;
            }
          }
  
          .SkeletonLoader {
            .WaktoonChartItem.skeleton {
              display: none;
              padding: 5px 16px;
  
              &:first-child {
                display: flex;
              }
            }
          }
          .WaktoonChartList {
            .WaktoonChartItem {
              border: none;
              display: none;
              padding: 5px 16px;
  
              &.highlight {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}