@use '@common/mixin' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: calc((var(--responsiveScale) - 0.1px) / 0.9 * 160);
  @include mobile {
    width: calc((var(--responsiveScale) - 0.1px) / 0.9 * 172);
  }

  .iconWrapper {
    --width: calc(var(--responsiveScale) * 96);
    @include mobile {
      --width: calc(var(--responsiveScale) * 100);
    }
    border-radius: 8px;
    width: var(--width);
    height: var(--width);

    .weatherImg {
      background: transparent;
      border-radius: 8px;
      width: var(--width);
      height: var(--width);
    }
  }
}

.container:global(.skeleton) {
  .iconWrapper {
    .weatherImg {
      img {
        opacity: 0;
      }
    }
  }
}
