@use '@common/mixin' as *;

.container {
  position: absolute;
  width: max-content;
  border-radius: 16px;
  background-color: #000a;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: var(--text-dark-primary-color);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.15s, top ease 0.15s, bottom ease 0.15s,
    left ease 0.15s, right ease 0.15s;
  z-index: 10;
}
*:hover > .container {
  opacity: 1;
}

.container.bottom {
  top: 100%;
}
*:hover > .container.bottom {
  top: calc(100% + 4px);
}
.container.top {
  bottom: 100%;
}
*:hover > .container.top {
  bottom: calc(100% + 4px);
}
.container.left {
  right: 100%;
}
*:hover > .container.left {
  right: calc(100% + 4px);
}
.container.right {
  left: 100%;
}
*:hover > .container.right {
  left: calc(100% + 4px);
}
